*{
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box; 
}

.button {
  display: block;
  text-align: center;
  cursor: pointer;
  border: none;
  height: 40px;
  padding: 0 14px;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: inset 0 -3px 0 0 rgb(0 0 0 / 15%);
  font-size: 18px;
  line-height: 37px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  background: #fafafa;
  color: #222222;
}

.button:active {
  box-shadow: none !important;
}

.button:hover{
  text-decoration: none;
  background: #e6e6e6;
  color: #222222;
}

.button-inline {
  display: inline-block;
  vertical-align: middle;
}

.button-wrapper{
  display: flex;
  padding: 20px;
  justify-content: center
}

/*radio - START*/

body {
  font-family: "Inter", sans-serif;
  color: #000021;
  background-color: #e6e6ef; 
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
  label input {
    position: absolute;
    left: -9999px; }
    label input:checked + span {
      background-color: #d6d6e5; }
      label input:checked + span:before {
        box-shadow: inset 0 0 0 0.4375em #00005c; }
  label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease; }
    label span:hover {
      background-color: #d6d6e5; }
    label span:before {
      display: flex;
      flex-shrink: 0;
      content: "";
      background-color: #fff;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      margin-right: 0.375em;
      transition: 0.25s ease;
      box-shadow: inset 0 0 0 0.125em #00005c; }

.container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; }
/*radio - START*/